body {
    background-color: lightblue;
    margin: 0;
}

header {
    background-color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

header .brand {
    font-size: 3em;
    font-weight: 600;
    color: whitesmoke;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: rgb(100, 128, 128);
	display: flex;
	justify-content: flex-end; 
  }

nav li {
	display: inline;
	margin: 0 1em;
  }

nav a {
	color: white;
}
nav a:hover {
	color: lightsalmon;
}
nav a:active {
	color: lightgreen;
}

.main_section {
    display: flex;
    margin-left: 2em;
}

.main_image img {
    width: 100%; 
    padding: 10px;   
}

aside {
    margin: 0 2em;
    flex: 1;
}

footer {
    background-color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

footer .brand {
    font-size: 3em;
    font-weight: 600;
    color: whitesmoke;
}

.main_friends {
    display: flex;
    margin: 0 2em;
    flex: 4;
    
    
}

.friend {
    width: 250px;
    height: 300px;

}