body {
    background-color: rgb(148, 162, 167);
    margin: 0;
}

header {
    background-color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

header .brand {
    font-size: 3em;
    font-weight: 600;
    color: whitesmoke;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: rgb(100, 128, 128);
	display: flex;
	justify-content: flex-end; 
  }

nav li {
	display: inline;
	margin: 0 1em;
  }

nav a {
	color: white;
}
nav a:hover {
	color: lightsalmon;
}
nav a:active {
	color: lightgreen;
}

.main_section {
    display: flex;
    margin-left: 2em;
}

.main_image img {
    width: 100%; 
    padding: 10px;   
}

aside {
    margin: 1em 3em;
    flex: 1;
    background-color: rgb(206, 223, 238);
    padding: 2rem;
    border: 2pt solid rgb(3, 36, 78);
}

article {
    
}

footer {
    background-color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

footer .brand {
    font-size: 3em;
    font-weight: 600;
    color: whitesmoke;
}

.main_friends {
    display: flex;
    flex: 3; 
    background-color:rgb(3, 36, 78);
    padding: 2em;
    justify-content: space-evenly;
    
}

.friendsTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    
}

.friendText {
    flex-flow: row wrap;
    align-self: center;
    margin-top: 4em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
    
    
}

.friend {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    border: 1pt rgb(3, 36, 78) solid;
}  